<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Price</th>
        <th>Previous price</th>
        <th>Exchange</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let stock of favoriteStocks">
        <td>{{stock.name}}</td>
        <td>{{stock.code}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.previousPrice}}</td>
        <td>{{stock.exchange}}</td>
        <td>
            <i id="remove-icon" class="fa-regular fa-trash-can" (click)="toggleRemove(stock.id)"></i>
        </td>
    </tr>

</table>